!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%title= Env.name
		%link{:href => '/global.css', :rel => 'stylesheet', :type => 'text/css'}
	%body
		#container
			#top
				#top-logo
					#{Env.app_name}
				#top-account 
					- if authenticated?
						%a{:href => '/signout'}signout
					- if not authenticated?
						%a{:href => '/signup'}signup
						%a{:href => '/signin'}signin
			#main
				/ the real deal goes here...
				=yield
				#footer
					%ul
						%li
							%a{:href => '/bla1'}Bla1
						%li
							%a{:href => '/bla1'}Bla1
						%li
							%a{:href => '/bla1'}Bla1
						%li
							%a{:href => '/bla1'}Bla1
						%li
							%a{:href => '/bla1'}Bla1
					%span= "&copy; #{Time.now.strftime('%Y')} #{Env.company}"
				#debug
					ssid #{cookie(Env.session_key)}

